<div   id="promo-slider" class="slider flexslider" my-flexslider>
    <ul class="slides">
        <li ng-repeat="item in flexslider">
            <img ng-src="{{item.img}}" alt="" />
            <p class="flex-caption">
                <span class="main">{{item.caption}}</span>
                <br />
                <span class="secondary clearfix">{{item.secondary}}</span>
            </p>
        </li>
    </ul> 
</div> 
